<div class="new-comment text-center mt-5">
  <%= form_with(model:[team, comment]) do |f| %>
    <%= f.text_area :comment, placeholder: "コメント", class:"form-control mb-4" %>
    <%= f.submit "送信", class: "btn btn-outline-info" %>
  <% end %>
</div>