<%= render 'layouts/error_messages', model: @sport %>
<div class="row">
  <div class="col-12 text-center">
    <i class="fas fa-passport fa-3x mt-4 mb-2"></i>
    <h2 class="text-center bg-gray">ベンチャースポーツ一覧</h2>
    <% if user_signed_in? %>
      <div class="form_action text-center">
        <%= link_to 'ベンチャースポーツ登録', sports_path(anchor: 'v_form'), class:'btn btn-outline-info my-3' %>
      </div>
    <% end %>
  </div>
</div>
<% if @sports.present? %>
  <div class="row">
    <% @sports.each do |sport| %>
      <%= render 'sports/sport_list', sport: sport ,tag: tag %>
    <% end %>
</div>
<% else %>
  <div class="col-12 text-center">
    <i class="fas fa-exclamation fa-2x mt-4 text-center"></i>
    <p class="mt-2 text-center">ベンチャースポーツがありません。</p>
  </div>
<% end %>
<% if user_signed_in? %>
  <div class="row mt-5">
    <div class="col-12 text-center">
      <i class="fas fa-plus fa-3x mt-4 mb-2" id="v_form"></i>
      <h2 class="text-center bg-gray">ベンチャースポーツ登録</h2>
      <%= render 'sports/form', sport: @sport %>
    </div>
  </div>
<% end %>