<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <i class="fas fa-bell fa-3x mt-4 mb-2"></i>
      <h2 class="text-center bg-gray">お知らせ</h2>
      <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
      <% if @notifications.exists? %>
        <div class="actions my-3">
          <%= link_to notification_path(@notifications), method: :delete do %>
            <i class="fas fa-trash fa-1x m-2", data-toggle="tooltip", data-placement="bottom", title="全削除"></i>
          <% end %>
        </div>
        <%= render @notifications %>
        <%= paginate @notifications %>
      <% else %>
        <div class="col-12 text-center">
          <i class="fas fa-exclamation fa-2x mt-4 text-center"></i>
          <p class="mt-2 text-center">お知らせはありません。</p>
        </div>
      <% end %>
    </div>
  </div>
</div>