<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="text-warning my-5">Let's Venture Sports !!</h1>
      <h4 class="my-4">
        <span class="text-danger">ベンチャースポーツ</span>は、かつて<span class="text-primary">マイナースポーツ</span>と呼ばれていました。<br>
      </h4>
      <h5 class="my-3">
        "VESPO"は、ベンチャースポーツをしたい人とベンチャースポーツチームを繋ぐプラットフォームを目指しています。<br>
      </h5>
      <h3 class="ext-warning mt-5">"VESPO"とは？</h3>
        <h5 class="my-3">
          ベンチャースポーツをしたい人とベンチャースポーツチームのマッチングサービスです。<br>
          新しいコミュニティやベンチャースポーツを探したり、<br>
          チームメイトを増やしたいスポーツチームがメンバー募集したり、<br>
          使い方はさまざまです。<br>
        </h5>
        <h5 class="my-1">
          新しいことにチャレンジしたい人や、何かスポーツをしたい人、転勤先に知り合いがいない方など、<br>
          ベンチャースポーツに挑戦してみませんか？
        </h5>
    </div>
  </div>
</div>
