<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="text-warning my-5">Let's Venture Sports !!</h1>
      <h4 class="my-4">
        <span class="text-danger">ベンチャースポーツ</span>は、かつて<span class="text-primary">マイナースポーツ</span>と呼ばれていました。<br>
      </h4>
      <h5 class="my-3">
        "VESPO"は、ベンチャースポーツをしたい人とベンチャースポーツチームを繋ぐプラットフォームを目指しています。<br>
      </h5>
    </div>
  </div>
</div>