<div class="container">
  <div class="row">
    <!--<div class="col-xs-6 ">-->
    <div id="img-box">
    <!--%= image_tag '/assets/top.jpg' , class: "mx-auto d-block" %>-->
      <div id="img-box-mini">
        <h1  id="img-box-text">Welcome to<strong>"VESPO"</strong></h1>
      </div>

      <%#= image_tag '/assets/top.jpg' , class: "mx-auto d-block" %>
      <h4 class = "text-center">「VESPO」は、Venture Sportsを楽しむ全ての人へ向けてつくられています。</h4>
      <h6>
        ベンチャースポーツは、かつてマイナースポーツと呼ばれていました。<br>
        「VESPO」は、ベンチャースポーツをしたい人とベンチャースポーツチームをつなぐプラットフォームをめざしています。<br>
      </h6>
    </div>
  </div>
</div>