<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <div class="logo m-3">
        <%= image_tag asset_path 'vespo_logo.png' %>
       <!--<img src="/assets/vespo_logo.png" alt="" class="logo m-3">-->
      </div>
      <h1 class="text-warning my-3">Let's Venture Sports !!</h1>
      <h4 class="my-2">
        <span class="text-danger">ベンチャースポーツ</span>は、かつて<span class="text-primary">マイナースポーツ</span>と呼ばれていました。<br>
      </h4>
      <h5 class="my-2">
        "VESPO"は、ベンチャースポーツをしたい方とベンチャースポーツチームを繋ぐプラットフォームを目指しています。<br>
      </h5>
    </div>
  </div>
</div>