<div class="row">
  <div class="col-12 text-center">
    <i class="fas fa-question-circle fa-3x mt-4 mb-2"></i>
    <h2 class="text-center bg-gray">お問い合わせ</h2>
    <p>
      お問い合わせいただきありがとうございました。
    </p>
  </div>
</div>