// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thead_sport {
  background-color: #009688;
}

.table {
            table-layout: fixed;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }