<footer class="mt-5">
   <nav class="navbar navbar-expand-lg pt-4 pb-4">
    <div class="container">
      <p class="text-center text-white">Copyright © 2021 VESPO All Rights Reserved.</p>
    </div>
  </nav>
</footer>

<!--<div class="col-md-3 col-xs-11 offset-1 mt-4">-->
<!--<h5 class="text-light">その他</h5>-->
<!--  <ul class="mt-2 list-unstyled" style="line-height:1.3rem">-->
<!--    <li><a class="text-light" href="/">トップページ</a></li>-->
<!--    <li><a class="text-light" href="/about">ご利用方法</a></li>-->
<!--    <li><a class="text-light" href="/informations">お知らせ</a></li>-->
<!--    <li><a class="text-light" href="/contact">お問い合わせ</a></li>-->
<!--    <li class="mt-2"><a class="text-light" href="/admins/sign_in">管理者ページ</a></li>-->
<!--  </ul>-->
<!--</div>-->